
@keyframes skew {
    to {
        transform: rotate(360deg);
      }
    }

@keyframes skew2 {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }    
    50%{
        transform: scale(1.5);
    } 
    100%{
        transform: scale(1);
    } 
}

@keyframes cilindro1{
    0% {
        left: 5vw;
    } 50%{
        left: 25vw;
    }
    100%{
        left: 5vw;
    }
}
@keyframes cilindro2{
    0% {
        right: 5vw;
        transform: rotate(0deg);
    } 50%{
        right: 25vw;
        transform: rotate(180deg);
    }
    100%{
        right: 5vw;
        transform: rotate(0deg);
    }
}

@keyframes triangulo2{
    0% {
        opacity: 0;
    } 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes triangulo3{
    0% {
        opacity: 0;
    } 50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}
@keyframes quadrado1{
    from{
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}
  @keyframes quadrado2{
      0%{
        bottom: 0vh;
      }
      50%{
        bottom: 10vh;
      }
      100%{
        bottom: 0vh;
      }
  }
  @keyframes focus {
    0% {
        filter: blur(0);
      }
      
      50% {
        filter: blur(4px);
      }
      100% {
        filter: blur(0);
      }
      
  }
  